* {
  margin: 0;
  padding: 0;
  text-align: center;
}


h1 {
  background-color: #081b31;
  color: #fff;
  height: 5rem;
  /* line-height: 5rem; can be used also  */
  padding-top: 20px;
  text-shadow: 1px 1px 2px rgb(48, 45, 45);
  transition: all 1s ease-in;
}

h1:hover{
  font-size: 40px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #a01b55;
  color: #000000;
  cursor: pointer;
    
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  cursor: pointer;
  background-color: #b4a0b9;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}


.score-board{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 8rem;
    margin-top:50px;
    font-size: 30px;

}

#user-score , #computer-score{
    font-size: 60px;
    font-weight: 500;
    padding-bottom:1.7rem;
}


.msg-container{
    margin-top:5em;

}
#msg{
    background-color: #081b31;
    color: white;
    font-size: 1.5rem;
    display:inline; /* to inshort the line */
    padding: 1rem;
    border-radius: 1rem;
}

#msg:hover{
    background-color: #a078d0;
    font-weight: 600;
    cursor: pointer;
    
}
